html
    head
        title= title
        link(rel="stylesheet", href="./room.css")
        script(src='/socket.io/socket.io.js')
        script(src="./utils.js")
    body
        h1= message
        a(href='http://localhost:8001/player?roomId=' + roomId target="__blank")
            span= roomId
        img(src= imgSrc widths= 400 height= 400)
        input(type="hidden" value= roomId id="roomId")
        script(src= './room.js')
        